.oe_timeline_view .vis-item .oe_timeline_duplicate_button {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    left: -20px;
    box-sizing: border-box;
    padding: 0 5px;
    cursor: pointer;
    line-height: 16px;
    color: #7C7BAD;
    background-color: #ffffff;
}
.oe_timeline_view .vis-item .oe_timeline_info {
    display: block;
    position: absolute;
    left: -20px;
    top: 16px;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    padding: 0 5px;
    cursor: pointer;
    line-height: 16px;
    color: #7C7BAD;
    background-color: #ffffff;
}
.oe_timeline_view .vis-item .oe_timeline_info:hover {
    color: #437dee;
    background-color: #211313;
}
.oe_timeline_view .vis-item .oe_timeline_duplicate_button:hover {
    color: #437dee;
    background-color: #211313;
}
